<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <appSettings>
    <!-- <add key="DBServer1" value="Server=192.168.0.247\SQLEXPRESS;Database=SHAMAN;User ID=sa;Password=yeike;" /> -->
    <!-- <add key="data.list.RelojPilar" value="Id=1;Descripcion=BasePilar;DireccionIP=192.168.5.111;Puerto=4370;Vaciar=0"/> -->
    <add key="DBServer1" value="Data Source=192.168.1.11;Initial Catalog=Shaman;User ID=usr_shaman;Password=usr_shaman.098" />
    <add key="origenFichada" value="TXT" />
    <add key="dataTxt" value="c:\tmp\FichadaRelojUy\marcas.log;1" />
    
    <!--<add key="OrigenFichada" value="Reloj" />-->
    <add key="data.list.Reloj1" value="Id=1;Descripcion=MaldonadoBase1Policlinicas;DireccionIP=192.168.1.50;Puerto=4370;Vaciar=0"/>
    <add key="data.list.Reloj2" value="Id=2;Descripcion=MaldonadoBase2PersonalDeGuardia;DireccionIP=192.168.1.51;Puerto=4370;Vaciar=0"/>
    <add key="data.list.Reloj3" value="Id=3;Descripcion=Piriapolis;DireccionIP=192.168.78.201;Puerto=4370;Vaciar=0"/>
    <add key="data.list.Reloj4" value="Id=4;Descripcion=SanCarlos;DireccionIP=198.18.0.201;Puerto=4370;Vaciar=0"/>

    <add key="SetByDoc" value="1" />
    <add key="TimePool" value="2" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="emisor" value="paramedic" />
    <add key="administratorMail" value="jbaglione@paramedic.com.ar" />
    <add key="supportMail" value="soporte@shaman-sge.com" />
    <add key="supportMailPassword" value="Uj2GieoCbB" />
    <add key="smtp" value="mail.shaman-sge.com" />
    <add key="smtpPort" value="2525" />
    <add key="ErrorMailsSentDailyLimit" value="30" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>